.contact-form-wrapper {
  background-color: #f6f6f6;
}

.contact-form-wrapper input:not([type="submit"]),
.contact-form-wrapper textarea {
  border-color: transparent;
  margin-bottom: 10px;
}

.contact-form-wrapper textarea {
  min-height: 140px;
  padding-top: 12px;
}

.section-title h2 {
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  color: black;
}

.section-title h2::after {
  content: "";
  display: block;
  margin-top: 10px;
  text-align: center;
  width: 50px;
  height: 7px;
  background: url("/assets/image/title.png");
}

.form-row {
  display: flex;
  margin-right: -5px;
  margin-left: -5px;
}

.contact-form-wrapper ::-webkit-input-placeholder {
  color: #292929;
}
