<div class="container mx-auto px-4 mt-8">
  <div class="py-6 border-0 rounded-md border-f1f1f2 bg-[#F4F5F7]">
    <div class="mx-auto px-4">
      <div class="flex justify-center items-center">
        <nav class="breadcrumb flex space-x-2">
          <a class="breadcrumb-item text-gray-600 hover:text-red-500 text-sm" href="index.html">{{"Home" | translate}}</a>
          <span class="material-icons text-md text-gray-400 my-0 mx-1 -mt-1">chevron_right</span>
          <span class="breadcrumb-item text-red-500 font-medium text-sm">{{"Cart" | translate}}</span>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto cart-block px-4 lg:px-20 py-12">
  <div class="flex flex-col lg:flex-row gap-4" *ngIf="Products.length">
    <div class="flex-1 flex flex-col gap-4">

      <div *ngFor="let product of Products" class="mb-3 p-4 border border-gray-200 rounded-md shadow-sm bg-white">
        <div class="flex items-center w-full py-2">

          <img alt="product" class="w-20 rounded-sm my-4" src="{{ product.imageUrl }}" />
          <div class="w-full ml-4 md:ml-6">
            <div class="flex justify-between items-center font-bold w-full mb-1">
              <h4>{{ product.title }}</h4>
              <h3 class="mb-0 font-bold text-lg"> {{ product.quantity * product.price | currency:'EUR':'symbol':'1.2-2' }}</h3>
            </div>
            <div class="flex items-center">
              <button class="p-2" (click)="onRemoveQuantity(product)">
                <mat-icon>remove</mat-icon>
              </button>
              <span class="mx-2 text-md">{{product.quantity }}</span>
              <button class="p-2" (click)="onAddQuantity(product)">
                <mat-icon>add</mat-icon>
              </button>
              <button
                class="w-10 h-10 flex items-center justify-center mx-1 p-1 bg-white hover:bg-red-500 text-red-500 hover:text-white rounded-full ml-auto"
                (click)="onRemoveFromCart(product)">
                <mat-icon>delete</mat-icon>
                <i class="addCart-icon"></i>
              </button>
            </div>
            <div class="flex justify-between items-center font-bold w-full mb-1">
              <h4>{{ product.price | currency:'EUR':'symbol':'1.2-2' }}</h4>
              <h3 class="flex items-center justify-center mx-1 p-1 font-bold text-lg" *ngIf="product.kilo" >
                {{ product.kilo *  product.quantity }} kilos
              </h3> 
          </div>
          
          </div>
        </div>
      </div>
    </div>
    <div class="w-72 lg:w-96 mb-3 p-4 border border-gray-200 rounded-md shadow-sm bg-white self-start">
      <div>
        <h3 class="font-bold text-xl text-black-900">{{ "Overview" | translate }}</h3>
        
        <div class="flex justify-between items-center mb-2">
          <span class="font-semibold text-gray-600">{{ "Items" | translate }} ({{ getTotalQuantity(Products) }})</span>
          <span class="font-semibold text-gray-600">{{ getTotal(Products) | currency:'EUR':'symbol':'1.2-2' }}</span>
        </div>
        <div class="flex justify-between items-center mb-4">
          <span class="font-semibold text-gray-600">{{ "Shipping Costs" | translate }}:</span>
          <span class="font-semibold text-gray-600">{{ shippingCost | currency:'EUR':'symbol':'1.2-2'}}</span>
        </div>
        <hr class="my-4 border-gray-300">
        <div class="flex justify-between items-center mb-4 bg-yellow-50 p-2 rounded-md">
          <span class="font-semibold text-gray-800">{{ "Total cost" | translate }}:</span>
          <span class="font-bold text-xl text-gray-800">{{ getTotal(Products) + shippingCost | currency:'EUR':'symbol':'1.2-2' }}</span>
        </div>          
        <button (click)="onCheckout()" class="bg-red-500 text-white py-3 px-4 rounded-md hover:bg-red-700 w-full transition duration-300 ease-in-out">
          {{ "Go to checkout" | translate }}
        </button>
        <div class="flex items-center justify-center mt-4">
          <div class="flex-1 flex justify-center"> <!-- flex-1 allows the div to grow and take up equal space -->
            <img src="../assets/image/ideal.png" alt="iDEAL" class="h-8">
          </div>
          <div class="flex-1 flex justify-center"> <!-- the middle div will also grow equally -->
            <img src="../assets/image/mastercard.png" alt="Credit Card" class="h-8">
          </div>
          <div class="flex-1 flex justify-center"> <!-- equal growth for the right div -->
            <img src="../assets/image/visa.jpeg" alt="Credit Card" class="h-8">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="Products.length">
  <button [routerLink]="['/shop', getLastProductCategory()]"
  class="mt-4 bg-red-500 text-white py-2 px-2 text-sm rounded hover:bg-red-500">
  {{"Continue Shopping" | translate}}
 
</button>
</div>
<div class="flex flex-col items-center justify-center" *ngIf="!Products.length">
  <img src="../assets/image/emptycard.png" alt="Empty Cart" class="w-full h-64 object-cover"/>
  <p class="text-lg font-bold " style="margin-top: 2rem;">{{"Empty cart" | translate}}</p>
  <button routerLink="/home" 
    class="mt-4 bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600">
    {{"Continue Shopping" | translate}}
  </button>
</div>
</div>



