<section class="md:h-screen flex items-center justify-center">
  <div class="container mx-auto px-4 py-12">
    <div class="card custom-shadow rounded-xl mx-auto max-w-screen-md p-4">
      <div class="text-center">
        <h3 class="text-2xl mb-4">Account aanmaken</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-3">
            <div>
              <mat-form-field class="w-full">
                <mat-label>Bederijfsdnaam</mat-label>
                <input matInput formControlName="bedrijfsNaam" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full">
                <mat-label>KVK nummer</mat-label>
                <input matInput formControlName="kvkNummer" />
              </mat-form-field>
            </div>
          </div> -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-3">
            <mat-form-field class="w-full">
              <mat-label>BTW</mat-label>
              <input matInput formControlName="btw" />
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>
            <div
              *ngIf="registerForm.get('email')?.hasError('misUserName')"
              class="text-red-500 p-2"
            >
              E-mail bestaat al
            </div>
          
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-3">
            <div>
              <mat-form-field class="w-full">
                <mat-label>Voornaam</mat-label>
                <input matInput formControlName="firstName" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full">
                <mat-label>Achternaam</mat-label>
                <input matInput formControlName="lastName" />
              </mat-form-field>
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-3">
            <mat-form-field class="w-full mb-3">
              <mat-label>Wachtwoord</mat-label>
              <input matInput type="password" formControlName="password" />
            </mat-form-field>

            <mat-form-field class="w-full mb-3">
              <mat-label>Bevestig wachtwoord</mat-label>
              <input
                matInput
                type="password"
                formControlName="confirmPassword"
              />
            </mat-form-field>
            <div
              *ngIf="
                registerForm.get('confirmPassword')?.hasError('mismatch') &&
                registerForm.get('confirmPassword')?.touched
              "
              class="text-red-500 p-2"
            >
              Wachtwoorden komen niet overeen.
            </div>
          </div>
          <div formGroupName="address">
            <div>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-3">
                <div>
                  <mat-form-field class="w-full">
                    <mat-label>Adres</mat-label>
                    <input matInput formControlName="street" type="text" />
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="w-full">
                    <mat-label>Postcode</mat-label>
                    <input matInput formControlName="zipCode" type="text" />
                  </mat-form-field>
                </div>
              </div>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-3">
                <div>
                  <mat-form-field class="w-full">
                    <mat-label>Woonplaats</mat-label>
                    <input matInput formControlName="residence" type="text" />
                  </mat-form-field>
                </div>
                <mat-form-field class="w-full">
                  <mat-label>Phone Number</mat-label>
                  <input matInput formControlName="phoneNumber" type="tel" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <button
            mat-raised-button
            color="warn"
            class="w-full mt-4"
            type="submit"
          >
            Registreren
          </button>
          <div class="border-t my-4"></div>
          <p class="text-sm pb-lg-2">
            Heb je al een account?
            <a routerLink="/login" class="text-red-600">Log hier in!</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
