<footer class="bg-[#242424] py-12 lg:py-16">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2 lg:w-1/4 lg:mr-20">
        <aside class="widget-container">
          <div class="widget-content">
            <div class="footer-logo mb-half">
              <img [src]="'../../../assets/image/' + log" alt="Logo" width="54px"  height="54px"/>
            </div>
            <p>
              {{"Sofani Market" | translate}}
            </p>
            <div class="footer-contact">
              <p>
                <span> {{"Address" | translate}}</span>Nieuwe Plein 32, Arnhem
              </p>
              <p><span>{{"Phone" | translate}}</span><a href="#">0031639173620</a></p>
              <p><span>{{"Email" | translate}}</span><a href="#">sofanifilimon@gmail.com</a></p>
            </div>
          </div>
        </aside>
      </div>

      <!-- <div class="w-full md:w-1/2 lg:w-1/6 mt-12 lg:mt-0">
        <aside class="widget-content">
          <h4 class="widgettitle">{{"Products" | translate}}</h4>
          <div>
            <div class="widgetized-menu mt-6 lg:mt-10">
              <ul class="list-unstyled">
                <li>
                  <a (click)="onFooterLinkClick('our-categories')">{{"Our Categories" | translate}}</a>
                </li>
                <li><a (click)="onFooterLinkClick('best-sellers')">{{"BEST SELLING PRODUCTS" | translate}}</a></li>
                <li><a (click)="navigateToHeadOfHome()">{{"Top of Page" | translate}}</a></li>
              </ul>
            </div>
          </div>
        </aside>
      </div> -->

      <div class="w-full md:w-1/2 lg:w-1/6 mt-12 lg:mt-0">
        <aside class="widget-content">
            <h4 class="widgettitle font-bold text-lg mb-4">{{"opening hours" | translate}}</h4>
            <div>
                <div class="widgetized-menu mt-6 lg:mt-10">
                    <ul class="list-unstyled text-customGray">
                        <li class="mb-2" [ngClass]="{'current-day': dayClasses['maandag']}">
                          {{"Monday" | translate}}: 09:00 - 22:00
                        </li>
                        <li class="mb-2" [ngClass]="{'current-day': dayClasses['dinsdag']}">{{"Tuesday" | translate}}: 09:00 - 22:00</li>
                        <li class="mb-2" [ngClass]="{'current-day': dayClasses['woensdag']}">{{"Wednesday" | translate}}: 09:00 - 22:00</li>
                        <li class="mb-2" [ngClass]="{'current-day': dayClasses['donderdag']}">{{"Thursday" | translate}}: 09:00 - 22:00</li>
                        <li class="mb-2" [ngClass]="{'current-day': dayClasses['vrijdag']}">{{"Friday" | translate}}: 09:00 - 22:00</li>
                        <li class="mb-2" [ngClass]="{'current-day': dayClasses['zaterdag']}">{{"Saturday" | translate}}: 09:00 - 22:00</li>
                        <li class="mb-2" [ngClass]="{'current-day': dayClasses['zondag']}">{{"Sunday" | translate}}: 09:00 - 22:00</li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
    
      <div class="w-full md:w-1/2 lg:w-1/6 mt-12 lg:mt-0">
        <aside class="widget-container">
          <h4 class="widgettitle"> {{"Our Company" | translate}}</h4>
          <div class="widget-content">
            <div class="widgetized-menu mt-6 lg:mt-10">
              <ul class="list-unstyled">
                <li><a (click)="navigateToAboutUs()">{{"About Us" | translate}}</a></li>
                <li><a (click)="navigateToCantacUS()">{{"Contact Us" | translate}}</a></li>
                <li><a routerLink="/login">{{"login" | translate}}</a></li>
              </ul>
            </div>
          </div>
        </aside>
      </div>

      <div class="w-full md:w-1/2 lg:w-2/6 mt-12 lg:mt-0">
        <h4 class="widgettitle"> {{"Register for Exclusive Perks" | translate}}</h4>
        <div>
          <div class="mt-6 lg:mt-10">
            <p class="mb-3 text-sm text-[#c0c0c0]">
              {{"Register to save your favorite" | translate}}
          </div>
          <form>
            <div class="flex items-center space-x-3 mt-4">
              <button mat-raised-button color="warn" type="submit" (click)="navigateToRegister()">
                {{"Register now" | translate}}
              </button>
            </div>            
          </form>

          <div class="mailchimp-alerts mt-3">
            <div class="mailchimp-submitting"></div>
            <div class="mailchimp-success"></div>
            <div class="mailchimp-error"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-secondary">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap items-center">
        <div class="w-full md:w-1/2 lg:w-1/2">
        </div>
        <div class="w-full md:w-1/2 lg:w-1/2">
        </div>
      </div>
    </div>
  </div>
</footer>
