.wish-product:hover {
  -webkit-box-shadow: 0 0 20px 0 rgba(41, 44, 58, 0.15);
  box-shadow: 0 0 20px 0 rgba(41, 44, 58, 0.15);
}

.wish-product {
  padding: 10px;
  margin: 0px;
  border-radius: 8px;
}

.product-caption {
  margin-top: 15px;
}

.product-caption .product-name {
  font-weight: 400;
  margin-bottom: 11px;
  line-height: 1;
  margin-top: 8px;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  line-height: 1.5;
  max-height: 1.5em;
  font-size: 16px;
}

.product-price {
  font-size: 18px;
  font-weight: 500;
  color: #cc2121;
}
