.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.section-title h2 {
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 20px;
  display: inline-block;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  position: relative;
}

.section-title h2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 7px;
  background: url("/assets/image/title.png");
}

.wish-product:hover {
  -webkit-box-shadow: 0 0 20px 0 rgba(41, 44, 58, 0.15);
  box-shadow: 0 0 20px 0 rgba(41, 44, 58, 0.15);
}

.wish-product {
  padding: 10px;
  margin: 0px;
  border-radius: 8px;
}

.product-caption {
  margin-top: 15px;
}

.product-caption .product-name {
  font-weight: 400;
  margin-bottom: 11px;
  line-height: 1;
  margin-top: 8px;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  line-height: 1.5;
  max-height: 1.5em;
  font-size: 16px;
}

.product-price {
  font-size: 18px;
  font-weight: 500;
  color: #cc2121;
}
