<!-- First section  -->
<section class="primary-slider-section mb0 pos-r" id="header">
  <div id="primary_slider" class="swiper-container slider-type-1">
    <div class="swiper-wrapper">
      <div
        *ngFor="let slide of slides"
        class="swiper-slide bg-img-wrapper h-[580px]"
        [style.background-image]="'url(' + slide.image + ')'"
        [ngStyle]="{
          'background-size': 'cover',
          'background-position': 'center center'
        }"
      >
        <div class="slide-inner">
          <div class="slide-progress"></div>
          <div class="container mx-auto px-4" *ngIf="slide">
            <div class="slide-content">
              <p
                class="promo-title animate__animated animate__fadeInUp text-danger"
                style="animation-delay: 0.5s"
              >
                <span>{{ slide.promoTitle }}</span> {{ slide.promoText }}
              </p>
              <h1
                class="main-title animate__animated animate__fadeInUp mb-6"
                style="animation-delay: 0.7s"
              >
                <span>{{ slide.mainTitle }} </span>
                <span
                  class="animate__animated animate__fadeInUp"
                  style="animation-delay: 0.9s"
                  >{{ slide.mainSubtitle }}</span
                >
              </h1>
              <p
                class="subtitle animate__animated animate__fadeInUp"
                style="animation-delay: 1.1s"
              >
                {{ slide.subtitle }}
              </p>
              <!-- <div class="slide-button animate__animated animate__fadeInUp"
                                        style="animation-delay: 1.3s">
                                        <a class="default-btn" [href]="slide.buttonUrl" title="Shop Now">Shop Now</a>
                                    </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-arrow next slide"><i class="fa fa-angle-right"></i></div>
    <div class="swiper-arrow prev slide"><i class="fa fa-angle-left"></i></div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<!-- second section -->
<section  id="our-categories">
  <div class="container relative mx-auto px-4 md:px-0">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12">
        <div class="section-title mt-16">
          <h2 >{{"Our Categories" | translate}}</h2>
          <p class="subtitle">
            {{"Discover our unique selection" | translate}}
          </p>
        </div>
      </div>
    </div>
    <app-products-slider
      [products]="products"
      context="home"
    ></app-products-slider>
  </div>
</section>

<section class="py-16" id="best-sellers">
 <div class="container mx-auto px-4 md:px-0">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12">
        <div class="section-title md:mt-6">
          <h2 >{{"BEST SELLING PRODUCTS" | translate}}</h2>
          <p class="subtitle" >
            {{"Top picks" | translate}}
          </p>
        </div>
      </div>
    </div>

    <div
      class="categories-slider-wrapper relative"
      id="trendingProducts_slider" 
    >
      <div *ngIf="loading" class="loader-container">
        <div class="loader"></div>
      </div>
      <div class="swiper-wrapper">
        <article
          class="swiper-slide product-layout"
          *ngFor="let product of trendingProducts"
        >
          <div class="product-image relative group">
            <a [routerLink]="['/product', product.productId]">
              <img
                [src]="product.imageUrls[0].file"
                [alt]="product.title"
                [title]="product.title"
              />
            </a>
            <div
              (click)="onAddToWishlist(product.productId)"
              class="absolute top-2 right-2 p-1 hover:text-white cursor-pointer invisible group-hover:visible"
            >
              <mat-icon
                *ngIf="!isInWishlist(product.productId)"
                aria-hidden="false"
                aria-label="Example heart icon"
                class="border-radius text-danger"
                >favorite_border</mat-icon
              >
              <mat-icon
                *ngIf="isInWishlist(product.productId)"
                aria-hidden="false"
                aria-label="Example heart icon"
                class="text-danger"
                >favorite</mat-icon
              >
            </div>
          </div>
          <div class="product-caption" [routerLink]="['/product', product.productId]">
            <div
              class="product-meta d-flex justify-content-between align-items-center"
            >
              <div class="product-manufacturer">
                <a
                  class="text-xl"
                  [routerLink]="['/manufacturer', product.productId]"
                  >{{ product.categoryName }}</a
                >
              </div>
            </div>
            <h4 class="product-name">
              <a [routerLink]="['/product', product.productId]">{{
                product.title
              }}</a>
            </h4>
            <p class="product-price">
              <span>€{{ product.piecePrice}}</span>
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
