<div class="container mx-auto px-4 mt-8">
  <div class="py-6 border-0 rounded-md border-f1f1f2 bg-[#F4F5F7]">
    <div class="mx-auto px-4">
      <div class="flex justify-center items-center">
        <nav class="breadcrumb flex space-x-2">
          <a
            class="breadcrumb-item text-gray-600 hover:text-red-500 text-sm"
            href="index.html"
            >{{"Home" | translate}}</a
          >
          <span class="material-icons text-md text-gray-400 my-0 mx-1 -mt-1"
            >chevron_right</span
          >
          <span class="breadcrumb-item text-red-500 font-medium text-sm"
            >{{"shop" | translate}}</span
          >
        </nav>
      </div>
    </div>
  </div>
</div>
