<!-- Top Bar -->
<app-top-bar></app-top-bar>
<hr />
<!-- Header Area -->
<app-header-area [itemsQuantity]="itemsQuantity" [cart]="cart">
</app-header-area>

<!-- Main Navigation Area -->
<div class="bg-[#242424] navbar text-white py-0">
  <div class="container px-4 md:px-1 mx-auto flex flex-wrap justify-center md:justify-between items-center py-0">
    <div class="flex flex-wrap items-center justify-between md:flex-row-reverse" style="width: 100%">
      <button data-collapse-toggle="navbar-default" (click)="toggleMenu()" type="button"
        class="inline-flex items-center w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
  
      <div class="flex items-center">
        <input type="text" class="p-2 flex-grow text-sm h-6 bg-[#242424] search-input" placeholder="{{ 'search' | translate }}"
          style="font-size: 15px" (input)="searchProducts($event)" />
        <button mat-icon-button #searchMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="searchMenu">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <mat-menu #searchMenu="matMenu" class="w-80">
        <div *ngFor="let product of searchResults" class="result-item mb-4">
          <a [routerLink]="['/product', product.productId]">
            <div
              class="flex items-center hover:bg-gray-200 hover:shadow-md transition duration-300 ease-in-out border-b border-gray-300">
              <img [src]="product.imageUrls[0].file" alt="{{ product.title }}"
                class="w-20 h-20 object-cover mr-3 pl-6" />
              <p class="flex-grow pl-8">{{ product.title }}</p>
              <p class="ml-10 pr-6">€{{ product.piecePrice}}</p>
            </div>
          </a>
        </div>

        <ng-template #noResults>
          <div class="text-center text-gray-600 py-4">No products found.</div>
        </ng-template>

        <!-- Conditional rendering -->
        <div *ngIf="searchResults.length; else noResults"></div>
      </mat-menu>

      <div class="hidden w-full md:block md:w-auto" [ngClass]="{
          '': isMenuOpen,
          hidden: !isMenuOpen
        }" id="navbar-default">
        <ul class="font-medium flex flex-col px-0 md:px-4 py-4 md:p-0 md:flex-row md:space-x-2 md:mt-0 md:border-0">
          <li>
            <a class="pl-0" mat-button routerLink="/" (click)="closeMenu()">{{"Home" | translate}}</a>
          </li>
          <li>
            <div class="inline-block">
              <button mat-button [matMenuTriggerFor]="categoriesMenu">
                {{ "shop" | translate }} <mat-icon>arrow_drop_down</mat-icon>
              </button>
              <mat-menu #categoriesMenu="matMenu">
                <button mat-menu-item *ngFor="let category of categories" (click)="handleCategorySelect(category.name)">
                  {{ category.name }}
                </button>
              </mat-menu>
            </div>
          </li>
          
          <li>
            <a class="text-sm ml-0 md:ml-2" mat-button routerLink="/aboutUs" (click)="closeMenu()">{{ "About Us" |
              translate }}</a>
          </li>
          <li>
            <a class="ml-0 md:ml-2" mat-button routerLink="/contactUs" (click)="closeMenu()"> {{ "Contact Us" |
              translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>