<div class="flex flex-wrap -mx-4 px-4">
  <div class="pt-5 mt-[20px] border-t border-gray-300 w-full">
    <div class="flex justify-between">
      <div class="text-sm mt-4">
        <p>{{"Showing" | translate}}  10 to 18 of 27 (3 Pages)</p>
      </div>
      <ul class="flex items-center space-x-2">
        <li class="flex-1 text-left">
          <a href="#" class="text-sm flex items-center">
            <mat-icon>chevron_left</mat-icon>
            <span>Previous</span>
          </a>
        </li>
        <li>
          <a href="" class="text-sm">1</a>
        </li>
        <li>
          <span class="text-lg cursor-default">2</span>
        </li>
        <li>
          <a href="" class="text-sm">3</a>
        </li>
        <li class="flex-1 text-right">
          <a href="" class="text-sm flex items-center justify-end">
            <span>Next</span>
            <mat-icon>chevron_right</mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
